@page "/authenticate"
@inject ApiClient Http;

<Heading Size="HeadingSize.Is1">Login</Heading>

<LoginForm/>

<Divider/>

@if (showRegistration)
{
    <Heading Size="HeadingSize.Is1">Register</Heading>

    <RegisterForm/>
}
else
{
    <p>
        Registrations are currently disabled.
    </p>
}

@code {

    private bool showRegistration;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        showRegistration = await Http!.Authentication!.RegistrationsOpen!.GetAsync() ?? false;
    }

}
