/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/

  (Only some resets taken as MudBlazor has its own resets)
*/

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
