@import "_reset.css";

a {
    color: inherit !important;
    text-decoration: underline !important;
}

#blazor-error-ui a.dismiss {
    text-decoration: none !important;
}

.mud-main-content {
    min-height: 100dvh;
}

.mud-nav-item {
    width: auto !important;
}

.mud-nav-link {
    text-decoration: none !important;
}

.mud-nav-link-text {
    margin-left: 0 !important;
}
