@import "_reset.css";
@import "_variables.css";
@import "_blazor_error_ui.css";
@import "_blazor_loader.css";

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 1rem;
    font-weight: 400;

    background: var(--background);
    color: var(--foreground);
}

a {
    color: inherit;
}

p {
    margin-top: var(--half-spacing-unit);
    margin-bottom: var(--spacing-unit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--spacing-unit);
    margin-bottom: var(--half-spacing-unit);
}
