@import "_reset.css";
@import "_blazor_loader.css";

a {
    color: inherit !important;
    text-decoration: underline !important;
}

#blazor-error-ui a.dismiss {
    text-decoration: none !important;
}

.mud-main-content {
    min-height: 100dvh;
}
