root = true

[*]
end_of_line = crlf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# ReSharper properties
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_statement_conditions = false
resharper_csharp_alignment_tab_fill_style = use_tabs_only
resharper_indent_braces_inside_statement_conditions = false
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_attribute_on_same_line = false

# CA1873: Avoid potentially expensive logging
dotnet_diagnostic.CA1873.severity = none

[{*.cs,*.razor,*.csproj,*.props,*.targets}]
indent_style = tab
indent_size = tab

[{*.ya?ml,*.json,*.xml,NuGet.Config}]
indent_size = 2

[*.md]
# two spaces at the end of a line cause a blank line to be added below in rendered text
trim_trailing_whitespace = false
