@inherits BaseComponent

<div style="display: flex; align-items: center; gap: 0.25rem" class="@ClassNames">
	@if (!IsDiscontinued)
	{
		<Button Size="Size.Small" Color="Color.Warning" Clicked="OnDiscontinueClicked" Disabled="@Editing">Discontinue</Button>
	}

	@* <Button Size="Size.Small" Color="Color.Danger" Clicked="OnDeleteClicked" Disabled="@Editing">Delete</Button> *@
</div>

@code {
	[Parameter]
	public DartPackageDto? Package { get; set; }

	[Parameter]
	public bool Editing { get; set; }

	// [Parameter]
	// public EventCallback OnDeleteClicked { get; set; }

	[Parameter]
	public EventCallback OnDiscontinueClicked { get; set; }

	private bool IsDiscontinued => Package?.IsDiscontinued ?? false;

	// MAYBE: move logic to discontinue and delete packages in here
}
