@page "/authenticate"
@inject ApiClient Http;

@if (MessageBoxContent is not null)
{
    <Alert Color="Color.Warning" Dismisable Visible>
        @MessageBoxContent
    </Alert>
}

<Heading Size="HeadingSize.Is1">Login</Heading>

<LoginForm/>

<Divider/>

@if (_showRegistration)
{
    <Heading Size="HeadingSize.Is1">Register</Heading>

    <RegisterForm/>
}
else
{
    <p>
        Registrations are currently disabled.
    </p>
}

@code {

    private bool _showRegistration;

    [Parameter]
    [SupplyParameterFromQuery(Name = "message")]
    public string? Message { get; set; }

    private string? MessageBoxContent => Message switch {
        "session-expired" => "Your session has expired. Please log in again.",
        _ => null,
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _showRegistration = await Http.GetAsync<bool>("authentication/registrations-enabled");
    }

}
