@page "/authenticate"
@inject IAuthenticationService Auth

<Heading Size="HeadingSize.Is1">Login</Heading>

<LoginForm/>

<Divider/>

@if (Error is not null)
{
	<ExceptionBox Exception="Error" />
}
else
{
	switch (ShowRegistration)
	{
		case true:
			<Heading Size="HeadingSize.Is1">Register</Heading>

			<RegisterForm/>
			break;
		case null:
			<p>
				Checking if registrations are enabled...
			</p>
			break;
		case false:
			<p>
				Registrations are currently disabled.
			</p>
			break;
	}
}

@code {

	private bool? ShowRegistration { get; set; }

	private Exception? Error { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		Error = null;
		ShowRegistration = null;

		try
		{
			ShowRegistration = await Auth.GetRegistrationsEnabledAsync();
		}
		catch (Exception e)
		{
			Error = e;
		}
	}

}
