@page "/authenticate"
@inject IAuthenticationService Auth

<Heading Size="HeadingSize.Is1">Login</Heading>

<LoginForm/>

<Divider/>

@if (_showRegistration)
{
    <Heading Size="HeadingSize.Is1">Register</Heading>

    <RegisterForm/>
}
else
{
    <p>
        Registrations are currently disabled.
    </p>
}

@code {

    private bool _showRegistration;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _showRegistration = await Auth.GetRegistrationsEnabledAsync();
    }

}
