#blazor-error-ui {
    /* gets overridden inline in case of an error */
    display: none;

    position: fixed;
    bottom: var(--half-spacing-unit);
    left: var(--half-spacing-unit);
    right: var(--half-spacing-unit);

    padding: var(--spacing-unit);
    border-radius: var(--quarter-spacing-unit);
    z-index: 1000;

    background: var(--card-background);
    color: var(--card-foreground);
    border: solid 1px var(--card-border);
}

#blazor-error-ui .dismiss {
    cursor: pointer;

    line-height: 1;

    position: absolute;
    top: var(--half-spacing-unit);
    right: var(--half-spacing-unit);
}
