div {
    background-color: var(--card-background);
    color: var(--card-foreground);
    border: 1px solid var(--card-border);
    margin: var(--half-spacing-unit);
    padding: var(--spacing-unit);
    border-radius: var(--half-spacing-unit);
    white-space: pre-wrap;
}
