@code {

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public CardVariant Variant { get; set; } = CardVariant.Default;

	[Parameter]
	public bool Inline { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object>? AdditionalAttributes { get; set; }

	private string? ClassName
	{
		get
		{
			var variantClass = Variant switch
			{
				CardVariant.Danger => "danger",
				_ => null,
			};

			var inlineClass = Inline ? "inline" : null;

			if (inlineClass is null && variantClass is null)
				return null;

			return string.Join(" ", inlineClass, variantClass);
		}
	}

}

<div class="@ClassName" @attributes="AdditionalAttributes">
	@ChildContent
</div>
