<MudDivider/>

<MudContainer Class="pa-5">
	<MudText Typo="Typo.body2">
		<MudStack Row Justify="Justify.SpaceBetween">
			<MudStack>
				<span>
					PubNet <a href="/about">v@(GitVersionInformation.MajorMinorPatch)</a>
					&ndash;
					<CommitLink />
				</span>

				<span>Licensed under <a href="https://github.com/ricardoboss/PubNet/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">AGPL-3.0</a></span>
			</MudStack>

			<MudStack AlignItems="AlignItems.End">
				<a href="https://github.com/ricardoboss/PubNet" target="_blank" rel="noopener noreferrer">
					<MudIcon Icon="@Icons.Custom.Brands.GitHub"/>
				</a>
				<a href="https://github.com/ricardoboss/PubNet/contributors" target="_blank" rel="noopener noreferrer">
					Contributors
				</a>
				<a href="https://github.com/ricardoboss/PubNet/issues" target="_blank" rel="noopener noreferrer">
					Report an issue
				</a>
			</MudStack>
		</MudStack>

		<MudText Align="Align.Center" Style="opacity: .5;">
			Crafted with ❤️ by <a href="https://ricardoboss.de" target="_blank" rel="noopener noreferrer">Ricardo Boss</a>
		</MudText>
	</MudText>
</MudContainer>
