@if (Username is not null)
{
	<NavLink href="@("/author/" + Username)">@Username</NavLink>
}
else
{
	<span class="text-muted">&lt;unknown&gt;</span>
}

@code {

	[Parameter]
	public string? Username { get; set; }

}
