@if (Username is not null)
{
	<NavLink href="@("/authors/" + Username)">@Username</NavLink>
}
else
{
	<Span TextColor="TextColor.Muted">&lt;unknown&gt;</Span>
}

@code {

	[Parameter]
	public string? Username { get; set; }

}
