@inject ClipboardService Clipboard
@inject IJSRuntime JsRuntime

<Tooltip Text="@Tooltip" Placement="TooltipPlacement.Right">
    <Button Clicked="() => Clipboard.WriteText(Content ?? string.Empty)" Size="Size.ExtraSmall" Padding="Padding.Is1.OnY.Is2.OnX">
        &boxbox;
    </Button>
</Tooltip>

@code {

    [Parameter]
    public string? Content { get; set; }

    [Parameter]
    public string? Tooltip { get; set; } = "Click to copy";

}
