@inherits LayoutComponentBase
@inject AuthenticationService Auth

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <OnlyGuest>
                <NavLink href="/authenticate">Authenticate</NavLink>
            </OnlyGuest>
            <OnlyAuthenticated>
                Welcome back @Name
            </OnlyAuthenticated>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? Name { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (await Auth.IsAuthenticatedAsync())
            Name = (await Auth.GetSelfAsync()).Name;
    }
}
