volumes:
  postgres_data:
  seq_data:
  mailpit_data:

services:
  database:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: "pubnet"
      POSTGRES_PASSWORD: "pubnet"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  seq:
    image: datalust/seq
    restart: unless-stopped
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_NOAUTHENTICATION: true
    volumes:
      - "seq_data:/data"
    ports:
      - "5380:80"
      - "5341:5341"

  mta:
    image: axllent/mailpit
    restart: unless-stopped
    environment:
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH: "mailpit:mailpit"
      MP_SMTP_AUTH_ALLOW_INSECURE: true
      TZ: Europe/Berlin
    volumes:
      - "mailpit_data:/data"
    ports:
      - "1025:1025"
      - "8025:8025"
