@page "/component-kiosk"

@code {

	private static Task NoOpClick(MouseEventArgs e) => Task.CompletedTask;

	private static Task Throw(MouseEventArgs e) => throw new NotSupportedException();

}

<h1>ComponentKiosk</h1>

<p>This page showcases all the different components</p>

<h2>Style</h2>

<h3>Palette</h3>

<div class="box-row squares">
	<div style="background-color: var(--white); color: var(--black)">White</div>
	<div style="background-color: var(--black); color: var(--white)">Black</div>
	<div style="background-color: var(--blue); color: var(--white)">Blue</div>
	<div style="background-color: var(--red); color: var(--white)">Red</div>
	<div style="background-color: var(--gray); color: var(--white)">Gray</div>
</div>

<h3>Theme</h3>

<div class="box-row squares">
	<div style="background: var(--background); color: var(--foreground)">Background</div>
	<div style="background: var(--foreground); color: var(--background)">Foreground</div>
	<div class="primary">Primary</div>
	<div class="danger">Danger</div>
	<div class="passive">Passive</div>
</div>

<h2>Buttons</h2>

<div class="box-row">
	<FilledButton Clicked="NoOpClick">Filled Button</FilledButton>
	<FilledButton Clicked="NoOpClick" Variant="ButtonVariant.Danger">Danger Variant</FilledButton>
	<FilledButton Clicked="NoOpClick" Variant="ButtonVariant.Passive">Passive Variant</FilledButton>
</div>

<h3>Disabled</h3>

<div class="box-row">
	<FilledButton Clicked="NoOpClick" Disabled>Disabled</FilledButton>
	<FilledButton Clicked="NoOpClick" Disabled Variant="ButtonVariant.Danger">Danger Disabled</FilledButton>
	<FilledButton Clicked="NoOpClick" Disabled Variant="ButtonVariant.Passive">Passive Disabled</FilledButton>
</div>

<h2>Cards</h2>

<div class="box-row thirds">
	<Card>Card with content</Card>
	<Card Variant="CardVariant.Danger">Danger Variant</Card>
</div>

<h2>Error UI</h2>

<FilledButton Clicked="Throw" Variant="ButtonVariant.Danger">Throw</FilledButton>
