@page "/"

@code {

	private RegistrationsOpen? registrationsOpen;

}

<PageTitle>PubNet</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Hello, @context.User.Identity!.Name!</h1>

		<LogoutForm />
	</Authorized>
	<NotAuthorized>
		<h1>Hello, anonymous!</h1>

		<LoginForm />

		<RegistrationsOpen @ref="registrationsOpen">
			<Loading>
				<Card Inline>
					Loading registrations status...
				</Card>
			</Loading>
			<Open>
				<RegisterForm/>
			</Open>
			<Closed>
				<Card Inline>
					Registrations are closed.
				</Card>
			</Closed>
			<Error>
				<Card Inline Variant="CardVariant.Danger">
					Could not determine if registrations are open.
					@if (registrationsOpen is not null) {
						<a href="#" @onclick="registrationsOpen.ReloadRegistrationsStatus">Retry</a>
					}
				</Card>
			</Error>
		</RegistrationsOpen>
	</NotAuthorized>
	<Authorizing>
		<h1>Hello, please wait...</h1>
	</Authorizing>
</AuthorizeView>
