@page "/"

<PageTitle>PubNet</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Hello, @context.User.Identity!.Name!</h1>

		<LogoutForm />
	</Authorized>
	<NotAuthorized>
		<h1>Hello, anonymous!</h1>

		<LoginForm />

		<RegistrationsOpen>
			<Open>
				<RegisterForm />
			</Open>
			<Closed>
				<p>Registrations are closed.</p>
			</Closed>
			<Error>
				<p>Failed to determine if registrations are open.</p>
			</Error>
		</RegistrationsOpen>
	</NotAuthorized>
	<Authorizing>
		<h1>Hello, please wait...</h1>
	</Authorizing>
</AuthorizeView>
