name: Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
    #   schedule:
    #     - cron: '38 20 * * *'
    push:
        branches: [ "main" ]
        # Publish semver tags as releases.
        tags: [ 'v*.*.*' ]
    pull_request:
        branches: [ "main" ]

env:
    # Use docker.io for Docker Hub if empty
    REGISTRY: ghcr.io
    # github.repository as <account>/<repo>
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        strategy:
            matrix:
                project: ['API','Worker','Frontend']

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v3

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@v2

            -   name: Log into registry ${{ env.REGISTRY }}
                if: github.event_name != 'pull_request'
                uses: docker/login-action@v2
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata (PubNet.${{ matrix.project }})
                id: meta
                uses: docker/metadata-action@v4
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ matrix.project }}

            -   name: Build and push Docker image (PubNet.${{ matrix.project }})
                id: build-and-push
                uses: docker/build-push-action@v4
                with:
                    context: .
                    file: PubNet.${{ matrix.project }}/Dockerfile
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}
                    cache-from: type=gha
                    cache-to: type=gha,mode=max
                    platforms: linux/amd64,linux/arm64/v8,linux/arm/v7,windows/amd64
