name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'windows-latest', 'macos-latest']

    name: Build & Test (${{ matrix.os }})

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
      - name: Update tooling
        run: dotnet tool update -g dotnet-format
      - name: Restore dependencies
        run: dotnet restore
      - name: Check code style
        run: dotnet format style --no-restore --verify-no-changes --verbosity normal
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal
