@page "/claims"
@using System.Security.Claims

<h3>ClaimsPrincipal Data</h3>

<p>@authMessage</p>

@if (claims.Count() > 0)
{
    <ul>
        @foreach (var claim in claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

@code {
    private string authMessage;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }
}